    /* PromptAIStyles.module.css */
    .button {
      background-color: #56804a;
      color: white;
      border: none;
      padding: 0.5em 1em;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

    .button:hover {
      background-color: #7ed457;
    }

    .button:active {
      scale: 95%;
    }

    .inputField {
      padding: 0.5em;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 1em;
      width: 200px;
    }